<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Passengers</th>
      <th>Flight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.flight_class %></td>
        <td><%= reservation.passengers_count %></td>
        <td><%= link_to "#{reservation.flight.departure_airport}->#{reservation.flight.arrival_airport}", reservation.flight %></td>
        <td><%= link_to 'Cancel', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
